@import compass

.default
  header
    z-index: 500

    h1
      margin-top: 0
      margin-bottom: 0.67em
    h2
      margin-top: 0.67em
      margin-bottom: 0.67em

    .radical
      +border-radius(5px)

      background-image: url('/images/happy.jpg')
      float: right
      margin-bottom: 1em
      margin-left: 1em
      width: 365px
      height: 329px

    .findOut
      background-image: url('/images/find-out-more.png')
      cursor: pointer
      position: absolute
      top: 0
      right: 0
      width: 149px
      height: 149px
