@import compass

html
  min-height: 100%

body
  height: 100%

.pricing_option
  border-right: 1px dashed rgba(0, 0, 0, 0.1)
  display: inline-block
  min-height: 200px
  padding: 1em
  vertical-align: top

  &:last-child
    border-right: none

  &.active
    +box-shadow(rgba(0, 0, 0, 0.2) 0 0 5px inset)

  h3
    text-align: center

  ul
    padding-left: 20px

section.add_email
  padding: 1em
  text-align: center

input
  +border-radius(4px)
  +box-shadow(rgba(0, 0, 0, 0.3) 0 0 5px inset)

  border: 1px solid rgba(0, 0, 0, 0.3)
  display: inline
  padding: 9px 11px
  font-size: 14px
  width: 230px
