/* line 5, form.css.sass */
.edit {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 185px;
  z-index: 500; }
  /* line 13, form.css.sass */
  .edit input, .edit textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 185px;
    width: 185px; }
  /* line 19, form.css.sass */
  .edit input.title {
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    width: 185px; }
  /* line 23, form.css.sass */
  .edit textarea {
    display: block;
    height: 115px; }

/* line 28, form.css.sass */
.pricing_option form {
  margin: auto;
  width: 107px; }

/* line 33, form.css.sass */
.default .email_modal {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px;
  background: #fdfdfd;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: #555555;
  display: none;
  height: 200px;
  margin: auto;
  padding: 1em;
  position: fixed;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 275px;
  z-index: 500; }
  /* line 51, form.css.sass */
  .default .email_modal button {
    padding-top: 5px; }
/* line 54, form.css.sass */
.default .overlay {
  display: none;
  position: fixed;
  z-index: 499;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
/* line 64, form.css.sass */
.default input.email {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: inline;
  padding: 0.6em;
  font-size: 14px;
  width: 200px; }
/* line 75, form.css.sass */
.default button {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #c6eafa;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-left: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 3px 1em 7px 1em; }
  /* line 89, form.css.sass */
  .default button:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px inset;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px inset; }
