/* line 3, pricing_plans.css.sass */
.pricing_option {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-height: 200px;
  padding: 1em;
  vertical-align: top; }
  /* line 12, pricing_plans.css.sass */
  .pricing_option:last-child {
    border-right: none; }
  /* line 15, pricing_plans.css.sass */
  .pricing_option h3 {
    text-align: center; }
  /* line 18, pricing_plans.css.sass */
  .pricing_option ul {
    padding-left: 20px; }
