/* line 3, pricing_plans.css.sass */
html {
  min-height: 100%; }

/* line 6, pricing_plans.css.sass */
body {
  height: 100%; }

/* line 9, pricing_plans.css.sass */
.pricing_option {
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-height: 200px;
  padding: 1em;
  vertical-align: top; }
  /* line 16, pricing_plans.css.sass */
  .pricing_option:last-child {
    border-right: none; }
  /* line 19, pricing_plans.css.sass */
  .pricing_option.active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset; }
  /* line 22, pricing_plans.css.sass */
  .pricing_option h3 {
    text-align: center; }
  /* line 25, pricing_plans.css.sass */
  .pricing_option ul {
    padding-left: 20px; }

/* line 28, pricing_plans.css.sass */
section.add_email {
  padding: 1em;
  text-align: center; }

/* line 32, pricing_plans.css.sass */
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px inset;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline;
  padding: 9px 11px;
  font-size: 14px;
  width: 230px; }
