@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
/* line 5, styles.css.sass */
html.default {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==");
  background-color: #6c7989; }

/* line 11, styles.css.sass */
.default body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  font-weight: 300;
  width: 900px;
  margin: 0 auto; }
/* line 20, styles.css.sass */
.default header, .default section, .default footer {
  display: block; }
/* line 23, styles.css.sass */
.default a {
  color: #006699;
  text-decoration: none; }
/* line 27, styles.css.sass */
.default p {
  margin: 0 0 20px;
  padding: 0; }
/* line 31, styles.css.sass */
.default strong {
  color: #222222;
  font-weight: 700; }
/* line 35, styles.css.sass */
.default section:not(.pitch) {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px; }
/* line 40, styles.css.sass */
.default .pitch {
  background: #c6eafa;
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #b2d2e1; }
/* line 46, styles.css.sass */
.default header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #c6eafa;
  position: relative;
  padding: 15px 20px;
  padding-bottom: 0; }
  /* line 54, styles.css.sass */
  .default header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
    color: #006699;
    text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0; }
  /* line 61, styles.css.sass */
  .default header.without-description h1 {
    margin: 10px 0; }
  /* line 63, styles.css.sass */
  .default header p {
    margin: 0;
    color: #61778b;
    font-size: 13px; }
    /* line 67, styles.css.sass */
    .default header p.view {
      display: none;
      font-weight: 700;
      text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
      -webkit-font-smoothing: antialiased; }
      /* line 72, styles.css.sass */
      .default header p.view a {
        color: #0066cc; }
      /* line 74, styles.css.sass */
      .default header p.view small {
        font-weight: 400; }
  /* line 76, styles.css.sass */
  .default header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    height: 38px;
    padding: 1px 0;
    background: #5198df;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
    background: -webkit-linear-gradient(#77b9fb, #3782cd);
    background: -moz-linear-gradient(#77b9fb, #3782cd);
    background: -o-linear-gradient(#77b9fb, #3782cd);
    background: -ms-linear-gradient(#77b9fb, #3782cd);
    background: linear-gradient(#77b9fb, #3782cd);
    border-radius: 5px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    width: auto; }
    /* line 98, styles.css.sass */
    .default header ul:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -5px;
      top: -4px;
      right: -5px;
      bottom: -6px;
      background: rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0; }
    /* line 115, styles.css.sass */
    .default header ul li {
      width: 79px;
      float: left;
      border-right: 1px solid #3a7cbe;
      height: 38px; }
      /* line 120, styles.css.sass */
      .default header ul li.single {
        border: none; }
      /* line 122, styles.css.sass */
      .default header ul li + li {
        width: 78px;
        border-left: 1px solid #8bbef3; }
        /* line 125, styles.css.sass */
        .default header ul li + li + li {
          border-right: none;
          width: 79px; }
    /* line 128, styles.css.sass */
    .default header ul a {
      line-height: 1;
      font-size: 11px;
      color: white;
      color: rgba(255, 255, 255, 0.8);
      display: block;
      text-align: center;
      font-weight: 400;
      padding-top: 6px;
      height: 40px;
      text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0; }
      /* line 139, styles.css.sass */
      .default header ul a strong {
        font-size: 14px;
        display: block;
        color: white;
        -webkit-font-smoothing: antialiased; }
/* line 145, styles.css.sass */
.default section:not(.pitch) {
  font-size: 15px;
  background: -webkit-gradient(linear, 50% 0%, 50% 700, color-stop(0%, #fafafa), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(#fafafa, #dedede);
  background: -moz-linear-gradient(#fafafa, #dedede);
  background: -o-linear-gradient(#fafafa, #dedede);
  background: -ms-linear-gradient(#fafafa, #dedede);
  background: linear-gradient(#fafafa, #dedede);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  position: relative; }
/* line 161, styles.css.sass */
.default h1, .default h2, .default h3, .default h4, .default h5, .default h6 {
  color: #222222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2; }
/* line 167, styles.css.sass */
.default p, .default ul, .default ol, .default table, .default pre, .default dl {
  margin: 0 0 20px; }
/* line 170, styles.css.sass */
.default h1, .default h2, .default h3 {
  line-height: 1.1; }
/* line 173, styles.css.sass */
.default h1 {
  font-size: 28px; }
/* line 176, styles.css.sass */
.default h2 {
  color: #393939; }
/* line 179, styles.css.sass */
.default h3, .default h4, .default h5, .default h6 {
  color: #494949; }
/* line 182, styles.css.sass */
.default blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #cccccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222222; }
/* line 190, styles.css.sass */
.default img {
  max-width: 100%; }
/* line 193, styles.css.sass */
.default code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333333;
  font-size: 12px;
  overflow-x: auto; }
/* line 199, styles.css.sass */
.default pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333333;
  font-size: 12px;
  overflow-x: auto;
  padding: 20px;
  background: #3a3c42;
  color: #f8f8f2;
  margin: 0 -20px 20px; }
  /* line 208, styles.css.sass */
  .default pre code {
    color: #f8f8f2; }
/* line 211, styles.css.sass */
.default li pre {
  margin-left: -60px;
  padding-left: 60px; }
/* line 215, styles.css.sass */
.default table {
  width: 100%;
  border-collapse: collapse; }
/* line 219, styles.css.sass */
.default th, .default td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaaaaa; }
/* line 224, styles.css.sass */
.default dt {
  color: #222222;
  font-weight: 700; }
/* line 228, styles.css.sass */
.default th {
  color: #222222; }
/* line 231, styles.css.sass */
.default small {
  font-size: 11px; }
/* line 234, styles.css.sass */
.default hr {
  border: 0;
  background: #aaaaaa;
  height: 1px;
  margin: 0 0 20px; }
/* line 240, styles.css.sass */
.default footer {
  width: 900px;
  margin: 0 auto;
  padding: 20px 0 0;
  overflow: hidden; }
  /* line 245, styles.css.sass */
  .default footer a {
    color: white;
    font-weight: bold; }
  /* line 248, styles.css.sass */
  .default footer p {
    float: left; }
    /* line 250, styles.css.sass */
    .default footer p + p {
      float: right; }
@media print, screen and (max-width: 740px) {
  /* line 254, styles.css.sass */
  .default body {
    padding: 0; }
  /* line 256, styles.css.sass */
  .default .wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%; }
  /* line 266, styles.css.sass */
  .default footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto; }
    /* line 274, styles.css.sass */
    .default footer p {
      float: none;
      margin: 0; }
      /* line 277, styles.css.sass */
      .default footer p + p {
        float: none; } }
@media print, screen and (max-width:580px) {
  /* line 282, styles.css.sass */
  .default header ul {
    display: none; }
  /* line 284, styles.css.sass */
  .default header p {
    width: 100%; }
    /* line 285, styles.css.sass */
    .default header p.view {
      display: block; } }
@media print {
  /* line 290, styles.css.sass */
  .default header small:before {
    content: "at http://github.com/"; } }
