/* line 7, templates/rojo.css.sass */
.rojo {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 0.9em; }
  /* line 12, templates/rojo.css.sass */
  .rojo h1 {
    font-size: 1.8em; }
  /* line 15, templates/rojo.css.sass */
  .rojo h2 {
    font-size: 1.4em; }
  /* line 18, templates/rojo.css.sass */
  .rojo h3 {
    font-size: 1.1em; }
  /* line 21, templates/rojo.css.sass */
  .rojo h4 {
    font-size: 1.05em; }
  /* line 24, templates/rojo.css.sass */
  .rojo h1, .rojo h2, .rojo h3, .rojo h4, .rojo h5, .rojo h6 {
    font-family: Futura;
    margin: 0; }
  /* line 28, templates/rojo.css.sass */
  .rojo p {
    margin: 0;
    padding: 0.5em 0; }
  /* line 33, templates/rojo.css.sass */
  .rojo header .title {
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0; }
  /* line 36, templates/rojo.css.sass */
  .rojo body {
    background-color: #c59c9c;
    background-image: url(/images/cross.png);
    color: #222222;
    margin: 0;
    padding: 0; }
  /* line 43, templates/rojo.css.sass */
  .rojo footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding: 0 0.5em; }
  /* line 49, templates/rojo.css.sass */
  .rojo header {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5244a), color-stop(100%, #a91d3b));
    background: -webkit-linear-gradient(#d5244a, #a91d3b 100%);
    background: -moz-linear-gradient(#d5244a, #a91d3b 100%);
    background: -o-linear-gradient(#d5244a, #a91d3b 100%);
    background: -ms-linear-gradient(#d5244a, #a91d3b 100%);
    background: linear-gradient(#d5244a, #a91d3b 100%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 0 5px, rgba(0, 0, 0, 0.4) -1px 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 0 5px, rgba(0, 0, 0, 0.4) -1px 0 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 0 5px, rgba(0, 0, 0, 0.4) -1px 0 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
    height: 125px;
    margin: auto;
    padding: 0 0.5em;
    width: 940px; }
    /* line 62, templates/rojo.css.sass */
    .rojo header h1 {
      padding-top: 40px; }
    /* line 65, templates/rojo.css.sass */
    .rojo header h1, .rojo header p {
      margin: auto;
      width: 900px; }
  /* line 69, templates/rojo.css.sass */
  .rojo .pitch {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px inset; }
  /* line 72, templates/rojo.css.sass */
  .rojo section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fefefe;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 0 0.5em;
    width: 900px; }
  /* line 82, templates/rojo.css.sass */
  .rojo .pricing_option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(/images/plan_stripe.png);
    cursor: pointer;
    width: 278px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 1em;
    background-color: white;
    padding: 0;
    display: inline-block; }
    /* line 97, templates/rojo.css.sass */
    .rojo .pricing_option:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7; }
    /* line 100, templates/rojo.css.sass */
    .rojo .pricing_option:active {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset; }
    /* line 103, templates/rojo.css.sass */
    .rojo .pricing_option h3 {
      text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
      background-color: #a91d3b;
      margin: 0;
      text-align: center;
      color: white;
      padding: 0.25em; }
    /* line 112, templates/rojo.css.sass */
    .rojo .pricing_option ul {
      padding-left: 0.5em; }
  /* line 115, templates/rojo.css.sass */
  .rojo .overlay {
    display: none;
    position: fixed;
    z-index: 499;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  /* line 125, templates/rojo.css.sass */
  .rojo .thanks_message {
    display: none; }
  /* line 128, templates/rojo.css.sass */
  .rojo .email_modal {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 15px;
    background: #eeeeee;
    border: 3px solid rgba(0, 0, 0, 0.3);
    display: none;
    height: 180px;
    margin: auto;
    padding: 1em;
    position: fixed;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 275px;
    z-index: 500; }
    /* line 146, templates/rojo.css.sass */
    .rojo .email_modal button {
      padding-top: 5px; }
  /* line 149, templates/rojo.css.sass */
  .rojo footer {
    margin: auto;
    width: 900px; }
    /* line 153, templates/rojo.css.sass */
    .rojo footer a {
      color: #333333; }
      /* line 156, templates/rojo.css.sass */
      .rojo footer a:active, .rojo footer a:visited {
        color: #444444; }
      /* line 159, templates/rojo.css.sass */
      .rojo footer a:hover {
        color: #666666; }
    /* line 162, templates/rojo.css.sass */
    .rojo footer p {
      display: inline-block;
      float: left; }
    /* line 166, templates/rojo.css.sass */
    .rojo footer .edit_toggle {
      float: right; }
  /* line 169, templates/rojo.css.sass */
  .rojo ul {
    list-style: none; }
    /* line 172, templates/rojo.css.sass */
    .rojo ul li {
      padding: 0.25em 0; }
  /* line 175, templates/rojo.css.sass */
  .rojo input {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: inline;
    padding: 0.6em;
    font-size: 14px;
    width: 200px; }
  /* line 186, templates/rojo.css.sass */
  .rojo button {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #bbbbbb;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-left: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 3px 1em 7px 1em; }
    /* line 200, templates/rojo.css.sass */
    .rojo button:active {
      -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px inset;
      -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px inset;
      box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px inset; }
