.edit
  %input.title(type='text' placeholder='Title - Tagline')
  %textarea.paragraph1(placeholder='Paragraph 1')

  %input.paragraph2_header(placeholder='Paragraph 2 Header')
  %textarea.paragraph2(placeholder='Paragraph 2')

  %input.paragraph3_header(placeholder='Paragraph 3 Header')
  %textarea.paragraph3(placeholder='Paragraph 3')

  %input.basic_plan(type='text' placeholder='Basic - $50 / month')
  %input.basic_features(type='text' placeholder='Basic features')

  %input.professional_plan(type='text' placeholder='Professional - $250 / month')
  %input.professional_features(type='text' placeholder='Professional features')

  %input.enterprise_plan(type='text' placeholder='Enterprise - Contact us')
  %input.enterprise_features(type='text' placeholder='Enterprise features')

%header
  %h1.title Testerize - Rapid Market Discovery
  .radical
  .findOut

%section.pitch
  %p.paragraph1
    Discover who will purchase a potential product! Developing products is expensive, so find out if your product will be successful before you make a big investment. With Testerize you can test your product idea while simultaneously generating leads that will become your first customers.

  %h2.paragraph2_header
    How it works

  %p.paragraph2
    When you use Testerize you will go from "idea" to "fully functional landing page" in less than 5 minutes. Fill out a simple form and Testerize will create your very own optimized landing page. Testerize tracks consumer demand while collecting contact information for interested customers. At the end of our one week process you will know more about your target market than most companies ever do.

  %h2.paragraph3_header
    Gain Market Insights First

  %p.paragraph3
    Many companies will spend millions of dollars developing a product, only to find out that nobody wants it. We believe that it is far better to find out the market truth first. Explore new product lines quickly. The faster you locate demand the bigger your money making advantage becomes.

%section
  .pricing_option(data-price=50)
    %h3.basic_plan
      Basic -
      %i $50 / week
    %ul
      %li Create a product page in minutes
      %li Beautiful stock templates
      %li Quality Lead Generation

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="LN3M7G3TDH38N">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

  .pricing_option(data-price=350)
    %h3.professional_plan
      Professional -
      %i $350 / week
    %ul
      %li Automatic domain registration
      %li Fully Customizable page templates
      %li Automatic funnel optimization

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="HH4PR29NUQ49N">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


  .pricing_option(data-price=1000)
    %h3.enterprise_plan
      Enterprise -
      %i Contact us
    %ul
      %li Advanced user segmentation report
      %li Integrated A / B testing
      %li Full market analysis report

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="674J3583KRY4Q">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

%footer
  %p.owner
    Brought to you by
    %a(href="http://pixieengine.com") PixieEngine
  %p.edit_toggle
    %a(href='#') Edit Copy

  .overlay
  .email_modal
    %h3 Hey there
    %p
      We're currently in a closed Beta. Due to incredible
      demand we have only a few spaces available. We'll
      contact you as soon as we have an opening and we always
      respect your privacy.

    %input.email(type='email' placeholder='email@address.com')>
    %button.track_email Go

  .thanks_message
    Thanks for your interest. We'll be in touch soon.
