.wrapper
  %header
    %h1 Testerize
    %p Test which potential products would make the best business
    %p.view
      %a(href='https://github.com/mdiebolt/testerize')
        View the Project on GitHub
        %small mdiebolt/testerize
    %ul
      %li
        %a(href='https://github.com/mdiebolt/testerize/zipball/master')
          Download
          %strong ZIP File
      %li
        %a(href='https://github.com/mdiebolt/testerize/tarball/master')
          Download
          %strong TAR Ball
      %li
        %a(href='https://github.com/mdiebolt/testerize')
          View On
          %strong Github
  %section
    %h3 Testerize

    %p Figure out the best, most profitable business ideas easily, with no technical background required.

    %h3 Already online

    %p Create a fully functional website, that is live on the internet minutes after your million dollar idea comes to you.

    %h3 Product Page

    %p Comes stock with beautiful template pages to make your product ideas pop.

    %h3 Track user interest

    %p Tracks which ideas your potential customers are most interested in and even segments them by price point.

%footer
  %p
    Project maintained by
    %a(href="https://github.com/mdiebolt") mdiebolt

