---
title: Testerize - Drop dead simple market discovery
---

.wrapper
  %header
    %h1 Testerize - Rapid Market Discovery
    %img.radical(src='/images/happy.jpg')

    %p
      Discover who will purchase a potential product! Developing products is expensive, so find out if your product will be successful before you make a big investment. With Testerize you can test your product idea while simultaneously generating leads that will become your first customers.

    %h2
      How it works

    %p
      When you use Testerize you will go from "idea" to "fully functional landing page" in less than 5 minutes. Fill out a simple form and Testerize will create your very own optimized landing page. Testerize tracks consumer demand while collecting contact information for interested customers. At the end of our one week process you will know more about your target market than most companies ever do.

    %h2
      Gain Market Insights First

    %p
      Many companies will spend millions of dollars developing a product, only to find out that nobody wants it. We believe that it is far better to find out the market truth first. Explore new product lines quickly. The faster you locate demand the bigger your money making advantage becomes.

  %section
    .pricing_option(data-price=50)
      %h3
        Basic -
        %i $50 / month
      %ul
        %li Create a product page in minutes
        %li Choose from beautiful stock templates

    .pricing_option(data-price=250)
      %h3
        Professional -
        %i $250 / month
      %ul
        %li Automatic domain registration
        %li Automatic Twitter integration
        %li Track user interest
        %li Automatic funnel optimization

    .pricing_option(data-price=1000)
      %h3
        Enterprise -
        %i Contact us
      %ul
        %li Advanced user segmentation report
        %li Integrated A / B testing
        %li Custom page templates
        %li Full market analysis report
  %section.add_email
    %h3 Keep me up to date
    %input.email(data-price=0 type='email' placeholder='email@address.com')>
    %button.track_email Go

%footer
  %p
    Brought to you by
    %a(href="http://pixieengine.com") PixieEngine

.overlay
.email_modal
  %h3 Hey there
  %p We're currently in a closed Beta. Sign up and you'll be the first to know about Testerize.
  %input.email(type='email' placeholder='email@address.com')>
  %button.track_email Go

.thanks_message
  Thanks for your interest. We'll be in touch soon.
