---
title: Testerize - Drop dead simple product testing
---

.wrapper
  %header
    %h1 Testerize
    %p Find out which potential products would make the best business. Create beautiful product pages in minutes. No technical skills required.
    %p.view
      %a(href='https://github.com/mdiebolt/testerize')
        View the Project on GitHub
        %small mdiebolt/testerize
    %ul
      %li
        %a(href='https://github.com/mdiebolt/testerize/zipball/master')
          Download
          %strong ZIP File
      %li
        %a(href='https://github.com/mdiebolt/testerize/tarball/master')
          Download
          %strong TAR Ball
      %li
        %a(href='https://github.com/mdiebolt/testerize')
          View On
          %strong Github
  %section
    .pricing_option
      %h3
        Basic -
        %i $50 / month
      %h4 Features
      %ul
        %li Create a product page in minutes
        %li Choose from beautiful stock templates

    .pricing_option
      %h3
        Professional -
        %i $250 / month
      %h4 Features
      %ul
        %li
          All features from
          %i Basic
          plan
        %li Automatic domain registration
        %li Automatic Twitter integration
        %li Track user interest

    .pricing_option
      %h3
        Enterprise -
        %i Contact us
      %h4 Features
      %ul
        %li
          All features from
          %i Professional
          plan
        %li Advanced user segmentation report
        %li Integrated A / B testing
        %li Custom page templates

%footer
  %p
    Brought to you by
    %a(href="http://pixieengine.com") PixieEngine

